@model IStore.Entity.Category
@{
    ViewData["Title"] = "EditCategory";
}

<h1>EditCategory</h1>

<form asp-action="UpdateCategory" asp-controller="Category">
    <div>
        <input type="hidden" asp-for="ID" />
        <label>Name</label>
        <input type="text" value="@ViewBag.data.Name" asp-for="Name" />
        <br />
        <label>Description</label>
        <input type="text" value="@ViewBag.data.Description" asp-for="Description" />
        <br />
        <button type="submit">Update</button>
    </div>
</form>