@model List<Category>

@{
    ViewData["Title"] = "CreateProduct";
}

<h1>Create Products</h1>
    <form id="CreateProductForm">
        <div class="form-group">
            <label>Categry</label>
            <select class="form-control" name="CategoryID">
                @foreach (var category in Model)
                {
                    <option value="@category.ID">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" name="Description" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" type="text" name="Price" />
        </div>
        @*<label>Image</label>
            <input id="imageURL" name="imageURL" type="hidden" />
            <input id="ImageUpload" name="Image" type="file" accept=".png, .jpg , .jpeg" />
            <img id="ContentImage" alt="Image" height="100" width="100" />
            <br />*@
        <button class="btn" type="button" id="AddProductBtn">Submit</button>

    </form>

    <script>

        $("#AddProductBtn").click(function () {
            $.ajax({
                type: 'POST',
                url: '/Product/CreateProduct',
                data: $("#CreateProductForm").serialize()
            })
                .done(function (response) {
                    $("#ProductIndex").html("");
                    $("#productTableIndex").html(response);

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        });
    </script>
