@model List<Category>

@{
    ViewData["Title"] = "CreateProduct";
}

<h1>Create Products</h1>
<form id="CreateProductForm">
    <div>
        <label>Categry</label>
        <select name="CategoryID">
            @foreach (var category in Model)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
        <br />
        <label>Name</label>
        <input type="text" name="Name" />
        <br />
        <label>Description</label>
        <input type="text" name="Description" />
        <br />
        <label>Price</label>
        <input type="text" name="Price" />
        <br />
        @*<label>Image</label>
        <input id="imageURL" name="imageURL" type="hidden" />
        <input id="ImageUpload" name="Image" type="file" accept=".png, .jpg , .jpeg" />
        <img id="ContentImage" alt="Image" height="100" width="100" />
        <br />*@
        <button type="button" id="AddProductBtn">Submit</button>
    </div>
</form>

<script>

    $("#AddProductBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/CreateProduct',
            data: $("#CreateProductForm").serialize()
        })
            .done(function (response) {
                $("#ProductIndex").html("");
                $("#productTableIndex").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            })
    });
</script>