
@{
    ViewData["Title"] = "CreateProduct";
}

<h1>Create Products</h1>
<form id="CreateProductForm">
    <div>
        <label>Name</label>
        <input type="text" name="Name" />
        <br />
        <label>Description</label>
        <input type="text" name="Description" />
        <br />
        <label>Price</label>
        <input type="text" name="Price" />
        <br />
        <button type="button" id="AddProductBtn">Submit</button>
    </div>
</form>

<script>

    $("#AddProductBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/CreateProduct',
            data: $("#CreateProductForm").serialize()
        })
            .done(function (response) {
                $("#CreateProductIndex").html("");
                $("#productIndex").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            })
    });
</script>